*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 1rem;
}

header{
  padding-top: 1rem ;
  padding-bottom: 2rem;
  height: 170px;
  background: url('../images/flywheel.jpg') no-repeat;
  background-size: cover;
  text-transform:uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


h1{
  color: white;
  text-align:center;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav a{
  display: inline-block;
  color : #000;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  text-decoration: none;
}

a.active{
  background:white ;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 20%;
  float: left;
  background: #777613;
  padding: 2rem;
}

aside a img{
  width: 100%;
  border: 2px solid black;
}

.right{
  padding-right: 150px;
  width: 80%;
  float: right;
}

.right p{
  padding-bottom: 1rem;
}

.right h2{
  color: #000;
  padding: 2rem 0;
  font-size: 2rem;
}

.right ul li{
  margin-left: 40px;
}
